html {
  background-color: black;
  text-align:center;
  font-family: helvetica;
}

body {
 margin: 0px;
}

.YouTubePlayer {
  width: 560px;
  background-color:black;
  display:inline-block;
}

.YouTubePlayer:-webkit-full-screen {
  margin-top:0px;
  display:block;
  width:100%;
}
.YouTubePlayer:-moz-full-screen {
  margin-top:0px;
  display:block;
  width:100%;
}
.YouTubePlayer:-full-screen {
  margin-top:0px;
  display:block;
  width:100%;
}

.YouTubePlayer:-webkit-full-screen .YouTubePlayerScreen {
  width:100%;
  height:100%;
}
.YouTubePlayer:-moz-full-screen .YouTubePlayerScreen {
  width:100%;
  height:100%;
}
.YouTubePlayer:-full-screen .YouTubePlayerScreen {
  width:100%;
  height:100%;
}

.YouTubePlayer:-webkit-full-screen .DefaultControls {
  z-index:2;
  display:block;
  top: 0px;
  position:absolute;
}
.YouTubePlayer:-moz-full-screen .DefaultControls {
  z-index:2;
  display:block;
  top: 0px;
  position:absolute;
}
.YouTubePlayer:-full-screen .DefaultControls {
  z-index:2;
  display:block;
  top: 0px;
  position:absolute;
}

.YouTubePlayer:-webkit-full-screen .Progress {
  z-index:3;
  display:block;
  top: 27px;
  position:absolute;
  width:100%;
  height:18px;
}
.YouTubePlayer:-moz-full-screen .Progress {
  z-index:3;
  display:block;
  top: 27px;
  position:absolute;
  width:100%;
  height:18px;
}
.YouTubePlayer:-full-screen .Progress {
  z-index:3;
  display:block;
  top: 27px;
  position:absolute;
  width:100%;
  height:18px;
}


.DefaultControls {
  text-align: left;
  display:inline-block;
  background-image: url(../images/spacer.png); 
  width: 100%;
  padding-top:2px;
}
.DefaultControls a {
  vertical-align: top;
}

.ProgressBar {
  text-align: left;
  display:inline-block;
  vertical-align: top;
  background-color: #585858;
  display:inline-block;
  width:100%;
  height:18px;
}

.ProgressSoFar {
  text-align: left;
  display: inline-block;
  background-color: #686868;
  height: 100%;
  width: 0px;
}

.TimePassed {
  display:inline-block;
  color: gray;
  font-weight: bold;
  font-size: 15px;
  float: right;
  margin-top:5px;
  margin-right:5px;
}

.Bookmark {
  position: absolute;
  display:inline-block;
  background-color: white;
  height: 18px;
  width: 1px;    
}

.PauseButton {
  display: none;
}

.FullScreenButton {
  float: right;
  margin-right:3px;
}

.Playlist {
  vertical-align: top;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.List {
 color: white;
 height: 145px;
 overflow: auto;
}

.ListElement {
  width: 523px;
  margin-top:5px;
  text-align: right;
  color: gray;
}

.ListElement.over {
  border: 1px dashed gray;
}

.Playing {
  color: white;
}

.ListElement span {
  width: 455px;
  vertical-align: top;
  padding-left: 5px;
  font-size: 14px;
  display: inline-block;
  line-height: 27px;
  background-color: #111;
  text-align: left;
}

.RemoveButton, .BtnDrag {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.PlaylistControls {
  margin-top:5px;
}

.VideoUrl {
  width:450px;
  margin:0px;
  height: 25px;
  border: 0px; 
  background-color: #111;
  color: #CCC;
  font-weight: bold;
  padding-left:10px;
}

::-webkit-input-placeholder { color:#333; }
::-moz-placeholder { color:#333; } /* firefox 19+ */
:-ms-input-placeholder { color:#333; } /* ie */
input:-moz-placeholder { color:#333; }

.VideoUrl:focus {
 border: none;
 background-color: #222;
}

.AddVideoButton, .EmbedVideoButton, .RandomizeButton {
  display: inline-block;
  vertical-align: top;
}

