html {
 background-color: black;
 text-align:center;
}

.YouTubePlayer {
  margin-top:50px;
  width: 640px;
  background-color:black;
  display:inline-block;
}

.YouTubePlayer:-webkit-full-screen {
  margin-top:0px;
  display:block;
  width:100%;
}

.YouTubePlayer:-webkit-full-screen .YouTubePlayerScreen {
  width:100%;
  height:100%;
}

.YouTubePlayer:-webkit-full-screen .DefaultControls {
  z-index:2;
  display:block;
  top: 0px;
  position:absolute;
}

.YouTubePlayer:-webkit-full-screen .Progress {
  z-index:3;
  display:block;
  top: 27px;
  position:absolute;
  width:100%;
  height:18px;
}

.DefaultControls {
  text-align: left;
  display:inline-block;
  background-image: url(../images/spacer.png); 
  width: 100%;
  padding-top:2px;
}
.DefaultControls a {
  vertical-align: top;
}

.ProgressBar {
  text-align: left;
  display:inline-block;
  vertical-align: top;
  background-color: #585858;
  display:inline-block;
  width:100%;
  height:18px;
}

.ProgressSoFar {
  text-align: left;
  display: inline-block;
  background-color: #686868;
  height: 100%;
  width: 0px;
}

.TimePassed {
  display:inline-block;
  color: gray;
  font-family: helvetica;
  font-weight: bold;
  font-size: 15px;
  float: right;
  margin-top:5px;
  margin-right:5px;
}

.Bookmark {
  position: absolute;
  display:inline-block;
  background-color: white;
  height: 18px;
  width: 1px;    
}

.PauseButton {
  display: none;
}

.FullScreenButton {
  float: right;
  margin-right:3px;
}
